:root {
  --site-width: 900px;
  --color-light: #ffffff;
  --color-light-opacity8: rgba(255, 255, 255, 0.8);
  --color-gray-light: #999999;
  --color-gray: #464646;
  --color-dark: #000000;
  --color-green: #0a50c2;
  &.dark {
    --color-light: #000000;
    --color-light-opacity8: rgba(0, 0, 0, 0.4);
    --color-gray-light: #464646;
    --color-gray: #211b1b;
    --color-dark: #ffffff;
    --color-green: #5595f3;
  }
}

* {
  cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='10px' height='10px'><circle cx='4' cy='4' r='4' fill='skyblue' /></svg>") 4 4, auto !important;
}

html, body {
  /*font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;*/
  font-family: Roboto, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK", "WenQuanYi Micro Hei", sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark)
}
